.App {
  text-align: center;
}

.App-link{
	text-decoration: none;
	color:black;
}

.User-img {
	padding: 1em;
	max-height: 6em;
}

.App-header {
  background-color: #222;
  padding: 1em 1em 0em 1em;
  color: white;
	overflow:auto;
}

.Person-summary{
	width: 40%;
	margin: auto;
	border-style: solid;
	overflow:auto;
}

.App-intro {
  font-size: large;
}

.Person-text{
	width: 50%;
	height: 100%;
	float:right;
}

.Person-img{
	width: 50%;
	height: 100%;
	float:left;
}
.Person-name{
	font-size: 1.5em;
}

.Person-line{
	font-style:italic;
}

.Life-event{
	width: 50%;
	margin: auto;
	padding:0.3em 0.3em 2em 0.3em;
	text-align: left;	
}

Life-event-headline{
	height:100%;
	text-align:left !important;
}

.Life-event-date{
	font-size:0.9em;
	font-weight:bold;
	color:#5c6d8a;
	display: inline-block;
	width: 20%;
	padding-right: 1%;
	vertical-align:top;
	word-wrap: break-word; /* Text to div with */
}

.Life-event-name{
	display: inline;
	margin:0em;
	color:#104295;
	display: block;
	size:0.9em;
}

.Life-event-title{
	display: inline-block;
	width:79%;
}

.Life-event-summary{
	font-size: 0.9em;
	font-style: italic;
	width:100%;
}

.Life-event-description{
	width:79%;
	text-align: justify;
	text-justify: inter-word;
	margin-left:21%;
	white-space: pre-line;
}

.Header-menu{
	width: 40%;
	margin:auto;
	overflow:auto;
}
.Header-menu-item{
	width:25%;
	float:left;
}
.Header-menu a{
	display: block;
	color: white;
	text-align: center;
	padding:1em;
	text-decoration: none;
}
.Header-menu a:hover {
    background-color: #111111;
}
.Header-in-page {
    background-color: #111111;
}

.YouTubeContainer{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	position:absolute;
	top:0;
	left:0;
}

.YouTube-overlay {
	position:absolute;
	top:25%;
	left:25%;
	width: 50%;
	height: 100%;
}

.YouTube-player{
	width:40.89em;
	max-width:100%;
	height:23em;
}
/*
	FOOTER
*/
.Footer{
	width: 100%;
	margin:auto;
	position: fixed;
	bottom:0px;
}
.Footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #030202;
}
.Footer li{
	float:left;
	width:20%;
}
.Footer a{
	display: block;
	color: white;
	text-align: center;
	padding:0.3em;
	text-decoration: none;
	font-size: 0.6em;
}

.Twitter-container{
	width:20%;
	margin:auto;
}


.Contact-social{
	width: 2em;
}

@media only screen and (max-width: 826px) {
	.Person-summary, .Header-menu-item, .Life-event{
		width:98%;
		padding:0.3em 1% 2em 1%;
	}
	.YouTube-overlay{
		width:100%;
		position:absolute;
		top:25%;
		left:0;
		width: 100%;
		height: 50%;
	}
	.Footer{
		position:relative;
	}
}
